<div class="SECTP">
    <h1>Habilidades</h1>
    <section class="Conocimientos">
        <div class="conocimientos">
            <div class="HTML">
                <div class="habilidad">
                    <div class="detalles">
                        <h2>HTML</h2>
                    </div>
                </div>
                <div class="porcentaje">
                    <div id="html">85%</div>
                </div>
            </div>
            <div class="CSS">
                <div class="habilidad">
                    <div class="detalles">
                        <h2>CSS</h2>
                    </div>
                </div>
                <div class="porcentaje">
                    <div id="css">80%</div>
                </div>
            </div>
            <div class="JavaScript">
                <div class="habilidad">
                    <div class="detalles">
                        <h2>JavaScript</h2>
                    </div>
                </div>
                <div class="porcentaje">
                    <div id="JS">60%</div>
                </div>
            </div>
            <div class="Angular">
                <div class="habilidad">
                    <div class="detalles">
                        <h2>Angular</h2>
                    </div>
                </div>
                <div class="porcentaje">
                    <div id="angular">75%</div>
                </div>
            </div>
        </div>
    </section>
    <section class="Proyectos">
        <div class="Proyectos">
            <h1>Proyectos realizados</h1>
            <div class="portfolio">
                <div class="Proyecto">
                    <h2>desarrollo de portfolio como full stack web jr. en curso de #YoProgramo 
                        como trabajo integrador. proyecto realizado con html, angular, JS y css.
                    </h2>
                    <div class="periodo">
                        <h2>Inició:</h2>
                        <span> 24 de diciembre del 2022</span>
                        <h2>Finalizó:</h2>
                        <span>15 de mayo del 2023</span>
                    </div>
                </div>
                <div class="Imagen">
                    <img src="/images/banner2.jpg" alt="IMG">
                </div>
            </div>
        </div>
    </section>
</div>