<header>
    <div class="barra">
        <nav>
            <ul>
                <li><a href="https://www.facebook.com/luchoo15"><img src="images/facebook.png" alt="Logo facebook"></a></li>
                <li><a href="https://www.instagram.com/luchoo_molaro/"><img src="images/IG.png" alt="Logo instagram"></a></li>
                <li><a href="https://www.linkedin.com/in/luciano-molaro-9bb64a265/"><img src="images/linkedin.png" alt="Logo linkedin"></a></li>
                <li><a href="#">
                        <p>Login</p>
                    </a></li>
            </ul>
        </nav>
    </div>
</header>