<div class="SECTP">
    <section class="Experiencias">
        <h1>Experiencia Laborales</h1>
        <div class="Experiencia">
            <div class="experiencia">
                <div class="titulo"><h2>Bar Oculto</h2></div>
                <div class="ie">
                    <h2>Periodo:</h2>
                    <span>4 de febrero de 2022,</span>
                    <span>actualmente trabajando</span>
                </div>
                <div class="ie">
                    <h2>Puesto:</h2>
                    <span>Bachero, cocinero, mozo</span>
                </div>
                <div class="ie">
                    <h2>detalles:</h2>
                    <span>encargado de limpieza y orden del lugar, ayudar con atencion a los clientes y ayudante de cocina.</span>
                </div>
            </div>
            <div class="Imagen"><img src="images/baroc.jpg" alt="IMG bar oculto"></div>
        </div>
    </section>
</div>