<div class="SECTP">
    <h1>Estudios realizados</h1>
    <section class="estudios">
        <div>
            <div class="EASP">
                <div><h2>Actualmente estudiante de ingreso a tecnicatura en programacion UTN FRM</h2></div>
                <div><img src="images/UTN_logo.png" alt="Logo UTN"></div>
            </div>
            <div>
                <h2>Año de Ingreso:</h2>
                <span>2023</span>
            </div>
            <div><p>Actualmente cursando</p></div>
            <div class="EASP">
                <div><h2>Curso completo de Programacion #YoProgramo</h2></div>
                <div><img src="images/arg-programa.png" alt="Compañia de maria colegio"></div>
            </div>
            <div class="IE">
                <div class="ie">
                    <h2>fecha de Ingreso:</h2>
                    <span>24 de diciembre de 2022</span>
                </div>
                <div class="ie">
                    <h2>fecha de finalización:</h2>
                    <span>15 de mayo de 2023</span>
                </div>
                <div class="ie">
                    <h2>Titulo:</h2>
                    <span>Full stack developer jr.</span>
                </div>
            </div>
            <div class="EASP">
                <div><h2>Secundario completo en Colegio Manuel Belgrano 4-148</h2></div>
                <div><img src="images/belgrano.png" alt="Escuela Belgrano"></div>
            </div>
            <div class="IE">
                <div class="ie">
                    <h2>Año de Ingreso:</h2>
                    <span>2014</span>
                </div>
                <div class="ie">
                    <h2>Año de Egreso:</h2>
                    <span>2019</span>
                </div>
                <div class="ie">
                    <h2>Titulo:</h2>
                    <span>Bachillerato en Economia y Administracion</span>
                </div>
            </div>
            <div class="EASP">
                <div><h2>Primario completo en Colegio Compañia de María de Godoy Cruz</h2></div>
                <div><img src="images/CDM.png" alt="Compañia de maria colegio"></div>
            </div>
            <div class="IE">
                <div class="ie">
                    <h2>Año de Ingreso:</h2>
                    <span>2007</span>
                </div>
                <div class="ie">
                    <h2>Año de Egreso:</h2>
                    <span>2013</span>
                </div>
            </div>
        </div>
    </section>
</div>